<style>
  .two-col-tags-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .two-col-tag {
     width: 33%;
  }
  
  @media (max-width: 550px) {
    .two-col-tag {
      width: 100%;
    }
  }
</style>
<div class="labeled-tags-container">
  <div class="two-col-tags-container">
  {% for labeled_tag in page.signup.labeled_tags %}
    
      <div class="two-col-tag">
        {% if page.signup.use_multiple_select_labeled_tags? %}
          <label for="checkbox_{{ labeled_tag.id }}" class="checkbox"> {{ labeled_tag.checkbox }} {{ labeled_tag.name }} </label>
        {% else %}
          <label for="radio_{{ labeled_tag.id }}" class="radio"> {{ labeled_tag.radio_button }} {{ labeled_tag.name }} </label>
        {% endif %}
      </div>
 
  {% endfor %}
</div>
</div>
