
<nav id="menu" role="navigation">
  <ul id="topnav" class="topnav desktop-nav">
    {% for child in site.root_nav_pages %}
    {% if child.leaf? or child.nav_children.size == 0 %}
    <li {% if child.is_or_is_ancestor_of_current_page? %}class="active"{% endif %}>
      <a href="{{ child.url }}" {% if child.type_slug == 'redirect' %} target="_blank" {% endif %}>{{ child.name }}</a>
    </li>
    {% else %}
    <li class="{% if child.is_or_is_ancestor_of_current_page? %}active{% endif %} drop">
      <a href="#" style="cursor: default;">{{ child.name }} <i class="icon-angle-down"></i></a>
      <ul class="sub">
        {% if site.show_parent_in_nav_dropdown? %}
        <li class="show-parent"><a href="{{ child.url }}">{{ child.name }}</a></li>
        {% else %}
        <li class="show-parent mobile-visible"><a href="{{ child.url }}">{{ child.name }}</a></li>
        {% endif %}
        {% for child2 in child.nav_children %}
        {% if child2.nav_children.size > 0 %}
        <li class="drop">
          <a href="#" style="cursor: default;">{{ child2.name }}<i class="icon-right-open"></i></a>
          <ul class="subsub">
            {% for child2child in child2.nav_children %}
            <li>
              <a href="{{ child2child.url }}">{{ child2child.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li>
          <a href="{{ child2.url }}">{{ child2.name }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>

<a href="#menu" class="menu-link"><i class="icon-menu"></i></a>