{% if site.has_meta_image? %}
  <a href="{{ site.full_url }}"><img src="{{ site.meta_image_medium_url }}" style="height: 58px; width: auto; max-width: 100%;"></a>
{% endif %}

<p style="font-family: helvetica, sans-serif; font-size: 14px;">
{{ recipient.first_name_or_friend }},
</p>
<p style="font-family: helvetica, sans-serif; font-size: 14px;">
Thank you for everything you do. Here is your receipt.
</p>

<table cellpadding="0" cellspacing="0" border="0" width="600" style="font-family: Helvetica, sans-serif; color: #000; font-size: 14px; line-height: 17px; border: 1px solid #E3E3E3; border-radius: 3px; margin-top: 40px;">
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" width="600">
        <tr>
          <td valign="top" align="left" style="padding: 16px; width: 50%; color: #707070;"><strong style="color: #000000">{{ site.long_name }}</strong> Receipt</td>
          <td valign="top" align="right" style="padding: 16px; width: 50%; color: #707070;">Confirmation <strong style="color: #000000"># {{ donation.id }}</strong></td>
        </tr>
      </table>

      <table cellpadding="0" cellspacing="0" border="0" width="600">
        <tr>
          <td style="height: 1px; width: 100%; border-bottom: 1px solid #E3E3E3;">
          </td>
        </tr>
      </table>

      <table cellpadding="0" cellspacing="0" border="0" width="600">
        <tr>
          <td valign="top" align="left" width="110" style="padding: 9px; padding-left: 16px; padding-bottom: 16px; font-size: 12px; color: #707070;"><strong>Date</strong></td>
          <td valign="top" style="padding: 9px; padding-bottom: 16px;">{{ donation.succeeded_at | date_to_string }}</td>
        </tr>
        <tr>
          <td valign="top" align="left" width="110" style="padding: 9px; padding-left: 16px; font-size: 12px; color: #707070;"><strong>Your info</strong></td>
          <td valign="top" style="padding: 9px;">{{ donation.name }}<br/>{{ donation.billing_address.one_line }}</td>
        </tr>
        <tr>
          <td valign="top" align="left" width="110" style="padding: 9px; padding-left: 16px; padding-top: 16px; font-size: 12px; color: #707070;"><strong></strong></td>
          <td valign="top" style="padding: 9px; padding-top: 16px;">{{ donation.billing_address.phone }}<br/>{{ donation.email }}</td>
        </tr>
        <tr>
          <td valign="top" align="left" width="110" style="padding: 9px; padding-left: 16px; font-size: 12px; color: #707070;"><strong></strong></td>
          <td valign="top" style="padding: 9px;">{% if donation.employer.size > 0 %}Employer: {{ donation.employer }}<br/>{% endif %}{% if donation.occupation.size > 0 %}Occupation: {{ donation.occupation }}{% endif %}</td>
        </tr>
        <tr>
          <td valign="top" align="left" width="110" style="padding: 9px; padding-left: 16px; padding-top: 16px; font-size: 12px; color: #707070;"><strong>Amount</strong></td>
          <td valign="top" style="padding: 9px; padding-top: 16px;"><strong style="font-size: 18px">{{ donation.amount_format }}</strong>  <span style="color: #00AFBC;">Thank you!</span></td>
        </tr>
        {% if donation.is_recurring %}
          <tr>
            <td valign="top" align="left" width="110" style="padding: 9px; padding-left: 16px; padding-top: 16px; font-size: 12px; color: #707070;"><strong>Next bill date</strong></td>
            <td valign="top" style="padding: 9px; padding-top: 16px;">{{ donation.next_billing_date | date_to_string }}</td>
          </tr>
        {% endif %}
        <tr>
          <td valign="top" align="left" width="110" style="padding: 9px; padding-left: 16px; padding-top: 16px; font-size: 12px; color: #707070;"><strong>Paid by</strong></td>
          <td valign="top" style="padding: 9px; padding-top: 16px;">{{ donation.payment_type_name }}</td>
        </tr>
      </table>

      {% if donation.merchant_account %}
      <table cellpadding="0" cellspacing="0" border="0" width="600">
        <tr>
          <td style="height: 1px; width: 100%; border-bottom: 1px solid #E3E3E3;">
          </td>
        </tr>
      </table>

      <table cellpadding="0" cellspacing="0" border="0" width="600">
        <tr>
          <td style="padding: 16px;">
            This is {% if donation.merchant_account.is_taxable? == true %}not {% endif %}tax deductible
          </td>
        </tr>
      </table>
      {% endif %}
      
    </td>
  </tr>
</table>
