#topnav a[href="/donate"] { 
background-color: #ffc528     ;
color: #000000;
border-radius: 1px;
}
#topnav a[href="/donate"]:hover {background-color: #cc9e1e     ;}

#topnav a[href="/join"] { 
background-color: #ffc528     ;
color: #000000;
border-radius: 1px;
}
#topnav a[href="/join"]:hover {background-color: #cc9e1e     ;}

#topnav a[href="/shop"] { 
background-color: #2a55a2     ;
color: #fff;
border-radius: 1px;
}
#topnav a[href="/shop"]:hover {background-color: #274f96     ;}