#topnav a[href="/shop"] { 
background-color: #2a55a2     ;
color: #000000;
border-radius: 1px;
}
#topnav a[href="/shop"]:hover {background-color: #2a55a2     ;}

#topnav a[href="/shop"] { 
background-color: #2a55a2     ;
color: #000000;
border-radius: 1px;
}
#topnav a[href="/shop"]:hover {background-color: #2a55a2     ;}